<h2> please sigup to continue </h2>
<div class = container>
<div class = "form-group">
  <label for ="Name"> Name </label>
  <input type = "text" class ="form-control" placeholder="Name" id ="name" required>
</div>
<div class = "form-group">
<label for ="Email">Email</label>
<input type = "text" class ="form-control" placeholder="Email Address" id ="email" required>
</div>
<div class ="form-group">
  <label for ="phoneNumber">PhoneNumber</label>
  <input type ="number" class="form-control" id ="phoneNumber" placeholder="+91*******************" required>
</div>
<div class ="form-group">
  <label for="password">Password</label>
  <input type="password" class="form-control" id="password" placeholder="password"required>
</div>
  <a routerLink ="/login"><button class="signup" btn-sucess>Signup</button></a>
</div>
