h2{
  text-align:center;
  color: #0000cc;
}

.btn1{
  margin-left: 500px;
  margin-right: 80px;
  margin-top: 50px;
  margin-bottom: 80px;
  width:80px;
}
.btn2{
  margin-left: 500px;
  margin-right: 80px;
  width:80px;
}
